<div class="ml-5">
  <h2>パスワード再設定</h2>
  <%= form_with model:@user,url:user_password_path do |f| %>

    <div class="field mt-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"input-default w-25", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>

    <div class="field mt-5">
      <%= f.submit "送信",class:"btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>